In [1]:
import pandas as pd
import pyodbc

In [2]:
Server = 'DESKTOP-U507UFU'
Database = 'PRACTICE'

In [14]:
server = 'DESKTOP-U507UFU'
database = 'PRACTICE'
conn_str = (
    "Driver= {SQL Server};"
    f"Server={server};"
    f"Database={Database};"
    "Trusted_Connection=yes;"    
)
conn = pyodbc.connect(conn_str)

In [9]:
query = """

    SELECT * FROM complaints

"""
df = pd.read_sql(query, conn)

C:\Users\User\AppData\Local\Temp\ipykernel_11836\551383516.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [18]:
conn.close()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  51 non-null     int64
 1   item      51 non-null     object
dtypes: int64(1), object(1)
memory usage: 948.0+ bytes

In [20]:
df.describe()

       concert_id  concert_revenue
count   70.000000        70.000000
mean    35.500000    613156.577429
std     20.351085    182210.536442
min      1.000000    304473.150000
25%     18.250000    476610.150000
50%     35.500000    596194.015000
75%     52.750000    778840.560000
max     70.000000    898469.550000