# Project Objectives
1. Import Important Libraries
2. Define Connection Parameters
3. Define connection String
4. Establish Connection
5. Run Query to get data innto Data Frame
6. Close Connection

In [1]:
# Import Important Libraries
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import pyodbc 
import os

In [2]:
# Define Connection Parameters
server = 'DESKTOP-U507UFU'
database = 'Practice'
#define Connection String
conn_str = (
    "Driver={SQL Server};"
    f"Server={server};"
    f"Database={database};"
    "Trusted_Connection=yes;"   
)
 #Establish Connection
conn = pyodbc.connect(conn_str)

In [60]:
#Run Query to get data into dataframe
query = """
        WITH order_cte AS(
        SELECT order_id, item,
        LEAD(item) OVER (ORDER BY order_id) AS next_item,
        LAG(item) OVER (ORDER BY order_id) AS prev_item
        FROM complaints       
        )
    SELECT order_id AS corrected_order_id,
        CASE WHEN
        (order_id % 2) = 1 AND next_item IS NOT NULL 
        THEN next_item
        WHEN (order_id % 2) = 0 THEN prev_item
        ELSE item 
        END AS item 
    FROM order_cte 
    ORDER BY corrected_order_id;
        """
df = pd.read_sql(query, conn)

C:\Users\User\AppData\Local\Temp\ipykernel_8352\3427322332.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [ ]:
#Close Connection
conn.close()

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   corrected_order_id  51 non-null     int64
 1   item                51 non-null     object
dtypes: int64(1), object(1)
memory usage: 948.0+ bytes

In [64]:
df.shape

(51, 2)

In [65]:
df.describe()

       corrected_order_id
count           51.000000
mean            26.000000
std             14.866069
min              1.000000
25%             13.500000
50%             26.000000
75%             38.500000
max             51.000000

In [66]:
df.head()

   corrected_order_id              item
0                   1          Pad Thai
1                   2             Pizza
2                   3          Eggrolls
3                   4    Butter Chicken
4                   5  Tandoori Chicken

## First 10 orders

In [67]:
Top10 = df.head(10)

In [ ]:
#Visualize